ABOUT-NLS
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te-2.53.cache
config.cache
config.log
config.rpath
config.status
configure
intl
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
m4
autom4te.cache
mkinstalldirs
intltool-modules
config.h
config.h.in
stamp-h1
xkeyboard-config*.tar.*
xkeyboard-config.spec
xkeyboard-config.prj
xkeyboard-config.pws
.tm_project.cache
INSTALL
config.guess
config.sub
configure.lineno
install-sh
missing
compat/compat.dir
geometry/geometry.dir
keycodes/keycodes.dir
keymap/keymap.dir
po/.intltool-merge-cache
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/messages
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/*.gmo
po/*.pot
po/messages.mo
po/stamp-po
rules/base.xml
rules/base.lst
rules/base
rules/sun.xml
semantics/semantics.dir
symbols/symbols.dir
tests/*.lst
types/types.dir
rules/compat/base.l2_s.part
rules/compat/base.l3_s.part
rules/compat/base.l4_s.part
rules/compat/base.l2v2_s.part
rules/compat/base.l3v3_s.part
rules/compat/base.l4v4_s.part
rules/compat/base.ml1_s.part
rules/compat/base.ml1v1_s.part
rules/compat/base.ml_s.part
rules/compat/base.mlv_s.part
tests/mxkbledpanel/mxkbledpanel
tests/mxkbledpanel/mxkbledpanel._man
po/stamp-it
rules/evdev
rules/evdev.lst
rules/evdev.xml
rules/evdev.xml.in
